In [1]:
# Read files
import pandas as pd
file_name = "Mobile Device Data for Assignment 2.xlsx"
xl_file = pd.ExcelFile(file_name)

dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

dfs.keys()

dict_keys(['Normalized Product Data', 'Model-Company', 'Company ID'])

In [2]:
# Assignment
product = dfs['Normalized Product Data']
model = dfs['Model-Company']
company = dfs['Company ID']

In [3]:
# Check data
product

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch)
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158,1.000000,0.249999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641
3158,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159,1.000000,0.499999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641
3159,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061
3160,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781
3161,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910

In [4]:
model = model.dropna()
model

,Model,Release Date,Release Year,Model ID,Company_ID
1,Casio Cassiopeia E-3000,2003-01-01,2003.000000,260.0,26.0
3,Coxion WebBook Mobile Computer,2003-01-01,2003.000000,261.0,35.0
5,CyberBank POZ 0850,2003-01-01,2003.000000,262.0,61.0
7,Medion MDPPC 100 (MD7200),2003-01-01,2003.000000,263.0,84.0
9,MiTAC Mio 728 PDA Phone,2003-01-01,2003.000000,264.0,84.0
...,...,...,...,...,...
5797,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158.0,149.0
5799,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159.0,149.0
5801,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160.0,156.0
5803,ZTE U930HD,2012-12-01,2012.916667,3161.0,156.0
5805,ZTE V887,2012-12-01,2012.916667,3162.0,156.0

In [6]:
company = company.dropna().drop(columns= ["Company"])
company

                            Company_real  Company_ID
1                        United Internet       141.0
3                                   3Com         1.0
5                         AboCom Systems         2.0
7                                   Acer         3.0
9    Shenzhen Ainol Electronics Co., Ltd       116.0
..                                   ...         ...
417                                Zenum       153.0
419                        Ziss HongKong       154.0
421                          Zopo Mobile       155.0
423                                  ZTE       156.0
425                        Sony Ericsson       124.0

[213 rows x 2 columns]

In [7]:
product.isna().sum()

Model                       0
Release Date                0
Release Year                0
Model ID                    0
RAM Capacity (Mb)           0
Storage (Mb)                0
CPU Clock (MHz)             0
Display Diagonal (in)       0
Display Width(px)           0
Display Length(px)          0
Width (mm)                  0
Length (mm)                 0
Depth (mm)                  0
Volume (cubic cm)           0
Mass (grams)                0
Pixel Density (per inch)    0
dtype: int64

In [11]:
model.isna().sum()

Model           0
Release Date    0
Release Year    0
Model ID        0
Company_ID      0
dtype: int64

In [20]:
company.isna().sum()

Company_real    0
Company_ID      0
dtype: int64

In [18]:
# remove dupicate
company = company.drop_duplicates()
company

                            Company_real  Company_ID
1                        United Internet       141.0
3                                   3Com         1.0
5                         AboCom Systems         2.0
7                                   Acer         3.0
9    Shenzhen Ainol Electronics Co., Ltd       116.0
..                                   ...         ...
415                        Yarvik Nextec       150.0
417                                Zenum       153.0
419                        Ziss HongKong       154.0
421                          Zopo Mobile       155.0
425                        Sony Ericsson       124.0

[157 rows x 2 columns]

In [13]:
# Add rows
company.loc[len(company.index)] = ["Other", 0.0]
company

                            Company_real  Company_ID
1                        United Internet       141.0
3                                   3Com         1.0
5                         AboCom Systems         2.0
7                                   Acer         3.0
9    Shenzhen Ainol Electronics Co., Ltd       116.0
..                                   ...         ...
417                                Zenum       153.0
419                        Ziss HongKong       154.0
421                          Zopo Mobile       155.0
423                                  ZTE       156.0
425                        Sony Ericsson       124.0

[213 rows x 2 columns]

In [19]:
company = company.sort_values(by= ["Company_ID"])
company

           Company_real  Company_ID
213               Other         0.0
3                  3Com         1.0
5        AboCom Systems         2.0
7                  Acer         3.0
11                Airis         4.0
..                  ...         ...
287  Zebra Technologies       152.0
417               Zenum       153.0
419       Ziss HongKong       154.0
421         Zopo Mobile       155.0
367                 ZTE       156.0

[157 rows x 2 columns]

In [ ]:
# Joins
product_model = pd.merge(product,model,on='Model',how='left')

In [28]:
product_model.isna().sum()

Model                       0
Release Date                0
Release Year                0
Model ID                    0
RAM Capacity (Mb)           0
Storage (Mb)                0
CPU Clock (MHz)             0
Display Diagonal (in)       0
Display Width(px)           0
Display Length(px)          0
Width (mm)                  0
Length (mm)                 0
Depth (mm)                  0
Volume (cubic cm)           0
Mass (grams)                0
Pixel Density (per inch)    0
Company_ID                  0
dtype: int64

In [22]:
# Remove y
drop_list = ["Model ID_y", "Release Date_y", "Release Year_y"]
product_model = product_model.drop(columns=drop_list)
product_model.rename({'Model ID_x': 'Model ID', 'Release Date_x': 'Release Date', 'Release Year_x':'Release Year'}, axis=1, inplace=True)

In [25]:
# Fill null
product_model.Company_ID.fillna(0.0,inplace=True)

In [27]:
# Show data
product_model

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,0.0
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336,0.0
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158,1.000000,0.249999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641,149.0
3158,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159,1.000000,0.499999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641,149.0
3159,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061,156.0
3160,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156.0
3161,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156.0

In [42]:
# Merge with company
product_model_company = pd.merge(product_model,company,on='Company_ID',how='left')
product_model_company

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,0.0,Other
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0,Other
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336,0.0,Other
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0,Other
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985,0.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3157,Xiaomi Mi-Two / MI-2,2012-12-01,2012.916667,3158,1.000000,0.249999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641,149.0,Xiaomi Inc
3158,Xiaomi Mi-Two / MI-2 32GB,2012-12-01,2012.916667,3159,1.000000,0.499999,0.749886,0.187050,0.252033,0.619048,0.151432,0.315574,0.026299,0.007623,0.018319,0.751641,149.0,Xiaomi Inc
3159,ZTE N9120 Avid 4G,2012-12-01,2012.916667,3160,0.249977,0.062080,0.599818,0.165468,0.154472,0.380952,0.160982,0.307377,0.037845,0.011434,0.019397,0.480061,156.0,ZTE
3160,ZTE U930HD,2012-12-01,2012.916667,3161,0.499985,0.062080,0.599818,0.201439,0.252033,0.619048,0.162347,0.344262,0.015394,0.006531,0.011422,0.713781,156.0,ZTE
3161,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156.0,ZTE

In [44]:
# Fill null
product_model_company.Company_real.fillna("Other",inplace=True)

In [45]:
# Sort by year
product_model_company = product_model_company.sort_values(by = ["Release Year"])

In [46]:
product_model_company.isna().sum()

Model                       0
Release Date                0
Release Year                0
Model ID                    0
RAM Capacity (Mb)           0
Storage (Mb)                0
CPU Clock (MHz)             0
Display Diagonal (in)       0
Display Width(px)           0
Display Length(px)          0
Width (mm)                  0
Length (mm)                 0
Depth (mm)                  0
Volume (cubic cm)           0
Mass (grams)                0
Pixel Density (per inch)    0
Company_ID                  0
Company_real                0
dtype: int64

In [48]:
product_model_company.to_csv("model.csv", index= False)

In [41]:
model.sort_values(by = ["Company_ID"])

,Model,Release Date,Release Year,Model ID,Company_ID
213,Abocom X-Pilot II,2004-01-01,2004.000000,366.0,2.0
4779,Acer Iconia Tab A510,2012-04-01,2012.250000,2649.0,3.0
5383,Acer Iconia Tab A110 8GB,2012-10-01,2012.750000,2951.0,3.0
2967,Acer neoTouch S200 B (Acer F1),2009-11-01,2009.833333,1743.0,3.0
4597,Acer Iconia Tab A200 8GB,2012-01-01,2012.000000,2558.0,3.0
...,...,...,...,...,...
4207,Sony Ericsson Xperia mini ST15a (SE Smultron),2011-08-01,2011.583333,2363.0,213.0
4209,Sony Ericsson Xperia Neo MT15a (SE Halon),2011-08-01,2011.583333,2364.0,213.0
4211,Sony Ericsson Xperia ray ST18 / ST18i (SE Urushi),2011-08-01,2011.583333,2365.0,213.0
3259,Sony Ericsson Xperia X2a (SE Vulcan),2010-04-01,2010.250000,1889.0,213.0
1617,Sony Ericsson P1 / P1i (SE Elena),2007-07-01,2007.500000,1068.0,213.0

In [47]:
product_model_company.sort_values(by = ["Company_ID"])

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,0.0,Other
165,Kyocera QCP 6035,2001-02-01,2001.083333,166,0.003876,0.000032,0.007547,0.057554,0.024390,0.063492,0.155525,0.382131,0.100706,0.032717,0.031897,0.114589,0.0,Other
166,NEC MobilePro 790,2001-02-01,2001.083333,167,0.015595,0.000654,0.083582,0.460432,0.219512,0.103175,0.650750,0.336066,0.145606,0.188468,0.153233,0.100707,0.0,Other
172,Palm m505,2001-03-01,2001.166667,173,0.003876,0.000064,0.016051,0.086331,0.024390,0.063492,0.192360,0.265574,0.042335,0.014389,0.016379,0.084048,0.0,Other
170,Palm m105,2001-03-01,2001.166667,171,0.003876,0.000032,0.007547,0.079137,0.024390,0.063492,0.198363,0.284426,0.078255,0.027300,0.014009,0.095154,0.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296,Sony Ericsson Xperia Pro MK16a (SE Iyokan),2011-06-01,2011.416667,2297,0.249977,0.008388,0.511777,0.143885,0.154472,0.407738,0.137790,0.290984,0.047466,0.010321,0.017241,0.556032,213.0,Other
2497,Sony Ericsson Xperia Neo V MT11a,2011-11-01,2011.833333,2498,0.249977,0.016778,0.499772,0.143885,0.154472,0.407738,0.137790,0.274590,0.044259,0.008972,0.014224,0.556032,213.0,Other
2295,Sony Ericsson Xperia Neo MT15 / MT15i (SE Halon),2011-06-01,2011.416667,2296,0.249977,0.016778,0.499772,0.143885,0.154472,0.407738,0.137790,0.274590,0.044259,0.008972,0.014224,0.556032,213.0,Other
2359,Sony Ericsson Xperia active ST17 / ST17i,2011-08-01,2011.583333,2360,0.249977,0.016778,0.499772,0.093525,0.089431,0.222222,0.132333,0.176230,0.066709,0.008436,0.010948,0.374558,213.0,Other
1947,Sony Ericsson M1 / M1i (SE Faith),2010-06-01,2010.416667,1948,0.124973,0.004194,0.299681,0.050360,0.089431,0.103175,0.145975,0.278689,0.040731,0.009271,0.015086,0.308430,213.0,Other

In [49]:
product_model_company

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch),Company_ID,Company_real
0,Psion Organiser II LZ 64,1989-01-01,1989.000000,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000,0.0,Other
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991.250000,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0,Other
2,Psion Series 3,1991-06-01,1991.416667,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336,0.0,Other
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992.000000,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793,0.0,Other
4,Psion Series 3a,1993-03-01,1993.166667,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985,0.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3128,Meizu MX2 32GB,2012-12-01,2012.916667,3129,1.000000,0.499999,0.799909,0.194245,0.284553,0.619048,0.159345,0.311066,0.026299,0.008265,0.017672,0.751893,80.0,"Meizu Technology Co., Ltd"
3129,Micromax A68 Smarty 4.0,2012-12-01,2012.916667,3130,0.249977,0.062080,0.499772,0.165468,0.154472,0.380952,0.135061,0.227459,0.044259,0.008993,0.009052,0.436648,82.0,Micromax Informatics
3130,Motorola Atrix TV XT682,2012-12-01,2012.916667,3131,0.249977,0.016778,0.399726,0.165468,0.154472,0.407738,0.147340,0.281557,0.024054,0.005567,0.013707,0.509844,87.0,Motorola
3132,NEC Medias U N-02E / N-02E One Piece,2012-12-01,2012.916667,3133,0.499985,0.125838,0.755889,0.165468,0.154472,0.380952,0.156889,0.307377,0.037203,0.010770,0.018750,0.480061,91.0,NEC CorporationÃ¦
3161,ZTE V887,2012-12-01,2012.916667,3162,0.249977,0.062080,0.499772,0.237410,0.154472,0.380952,0.195089,0.405738,0.026940,0.016016,0.017241,0.358910,156.0,ZTE